@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Hubot;
    src: url(/fonts/Hubot-Sans-Regular.woff) format("woff")
}
@font-face {
    font-family: Hubot-Bold;
    src: url(/fonts/Hubot-Sans-Bold.woff) format("woff")
}
*{
    padding:0px;
    margin:0px;
    font-family:Hubot ;
    /*background-color:#1f1e24;*/
    background-color:#1F1E24;

}



