@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Circular';
  src: url('/fonts/CircularBook.woff2') format('woff2');
}
@font-face {
  font-family: 'CircularMedium';
  src: url('/fonts/CircularBookMedium.woff2') format('woff2');
}
@font-face {
  font-family: 'CircularBold';
  src: url('/fonts/CircularBookBold.woff2') format('woff2');
}

:root{
  font-family: Circular,Arial, system-ui, Avenir, Helvetica, Inter, sans-serif;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #000000;
  color: #FAFAFA;
}
 
