@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Mono;
  src: url(../public/fonts/JetBrainsMono-Medium.woff2) format("woff2");
}
@font-face {
  font-family: Med;
  src: url(../public/fonts/JetBrainsMono-Medium.woff2) format("woff2");
}
@font-face {
  font-family: SemiBold;
  src: url(../public/fonts/JetBrainsMono-SemiBold.woff2) format("woff2");
}
html,
* {
  padding: 0;
  margin: 0;
  font-family: "Mono";
}
